@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.root {
    /* -fx-font-family: Helvetica, sans-serif; */
    -fx-font-family: 'Montserrat', Arial, sans-serif;
    -fx-background-color:#24201F
}

.body {
    -fx-font-family: 'Montserrat', Arial, sans-serif;
}

/* App background on every screen (your root panes are AnchorPane) */
.anchor-pane { 
    -fx-background-color: #24201F;
}

.title-heading {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(76, 73, 73, 1), 0, 0, 3, 1.5);
}

.label-heading {
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(76, 73, 73, 1), 0, 0, 2, 1.5);
}

/* Make all “letters” this color (labels, buttons, text in fields) */
.label,
/* .button, button text color gets redefined later so i commented this out*/
.text-field,
.password-field {
    -fx-text-fill: #B1B1AB;
}

Text {
    -fx-fill: #B1B1AB;
}

.label {
    -fx-font-weight: bold;
}

/*Button specific stuff*/
.button {
    -fx-background-color: #B1B1AB;
    -fx-border: none;
    -fx-border-radius: 4px;
    -fx-text-fill: #24201F; 
    -fx-font-weight: bold;
}

/* Optional: placeholder text in fields (if you use promptText) */
.text-field .text,
.password-field .text {
    -fx-fill: #56200B;
}
.text-field:focused,
.password-field:focused {
    -fx-text-fill: #56200B;
}

/* Hover color for any box with words in it */
/* .label:hover, removed label hovering styling cause it looks wrong for stuff like headers */
.button:hover,
.text-field:hover,
.password-field:hover {
    -fx-background-color: #676A59;
    -fx-cursor: hand;
}

/* Give labels a bit of padding so the hover bg is visible */
.label {
    -fx-padding: 4 6 4 6;
}

.text-area {
    -fx-control-inner-background: #24201F;
    -fx-text-fill: #B1B1AB;
    -fx-background-color: #24201F;
    -fx-font-family: 'Montserrat', Arial, sans-serif;
    -fx-font-size: 32px;
}

